DATABASE_URL=postgresql://postgres.PROJECT_REF:YOUR_DB_PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres
DATABASE_SSLMODE=require
DATABASE_SCHEMA=app_private
COOKIE_SECURE=true
DEMO_MODE=false
ADMIN_USERNAME=prof.francais
ADMIN_FULL_NAME=Professeur de francais
ADMIN_PASSWORD=cfsFaerEdm8s?
